/* Font Imports  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


header{
    width: 100%;
    height: 666px;
    background-image: url(../images/top-bg.png);
    
    /* background-color: aqua; */
    background-size: cover;
  
}
.bg-nav{
    background-color: rgba(20, 2, 0, 0.8);
    height: 80px;
}
header li{
    font-size: 14px;
    list-style: none;
}
.top-container{
    
    width: 600px;
    height: 300px;
    position: absolute;
    top: 210px;
    left: 310px;
}
.top-container h1{
    font-size: 60px;
}
.bg-second{
    width: 100%;
    height: 900px;
    background-image: url(../images/xmenu-bg.jpg.pagespeed.ic.xYr9qBvnG1.jpg);
    background-size: cover;
}
.bg-third{
    background-color: #b68834;
}
.star-orange{
    color: rgb(255, 165, 0);
}
.js h1{
    font-size: 65px;
}
footer{
    width: 100%;
    height: 526px;
    background-image: url(../images/footer-bg.jpg.webp);
    
    /* background-color: aqua; */
    background-size: cover;
  
}
footer .container{
    padding-top: 200px;
}
footer span{
    color: #b68834;
}
